In [2]:
import json

fd = open('record.json','r')

txt = fd.read()

fd.close()

record = json.loads(txt)

prod_id = input("enter product id:")
name = input("enter the product name:")
pr = int(input("enter the product price"))
qn = int(input("enter quantity:"))
record[prod_id]={'name':name,'pr':pr,'qn':qn}

enter product id:1016
enter the product name:lolly
enter the product price5
enter quantity:5

reccord

In [3]:
record

{'1001': {'name': 'Choco Cake', 'qn': 30, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 98},
 '1005': {'name': 'chocochips', 'pr': 20, 'qn': 5},
 '1003': {'name': 'milkybar', 'pr': 20, 'qn': 9},
 '1004': {'name': 'mango choco', 'pr': 15, 'qn': 20},
 '1006': {'name': 'dairymilk', 'pr': 20, 'qn': 25},
 '1007': {'name': 'eclairs', 'pr': 2, 'qn': 200},
 '1008': {'name': 'kitkat', 'pr': 20, 'qn': 100},
 '1009': {'name': 'mango bite', 'pr': 2, 'qn': 200},
 '1010': {'name': 'cofee bite', 'pr': 2, 'qn': 197},
 '1011': {'name': 'sipon', 'pr': 20, 'qn': 98},
 '1012': {'name': 'coc0 bar', 'pr': 2, 'qn': 200},
 '1013': {'name': 'burger', 'pr': 100, 'qn': 10},
 '1014': {'name': 'sandwitch', 'pr': 50, 'qn': 10},
 '1015': {'name': 'cocochips', 'pr': 5, 'qn': 200},
 '1016': {'name': 'lolly', 'pr': 5, 'qn': 5}}

In [7]:
prod_id = input("enter product id:")
name = input("enter the product name:")
pr = int(input("enter the product price"))
qn = int(input("enter quantity:"))
record[prod_id]={'name':name,'pr':pr,'qn':qn}

enter product id:1019
enter the product name:seven up
enter the product price50
enter quantity:200

record

In [8]:
record

{'1001': {'name': 'Choco Cake', 'qn': 30, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 98},
 '1005': {'name': 'chocochips', 'pr': 20, 'qn': 5},
 '1003': {'name': 'milkybar', 'pr': 20, 'qn': 9},
 '1004': {'name': 'mango choco', 'pr': 15, 'qn': 20},
 '1006': {'name': 'dairymilk', 'pr': 20, 'qn': 25},
 '1007': {'name': 'eclairs', 'pr': 2, 'qn': 200},
 '1008': {'name': 'kitkat', 'pr': 20, 'qn': 100},
 '1009': {'name': 'mango bite', 'pr': 2, 'qn': 200},
 '1010': {'name': 'cofee bite', 'pr': 2, 'qn': 197},
 '1011': {'name': 'sipon', 'pr': 20, 'qn': 98},
 '1012': {'name': 'coc0 bar', 'pr': 2, 'qn': 200},
 '1013': {'name': 'burger', 'pr': 100, 'qn': 10},
 '1014': {'name': 'sandwitch', 'pr': 50, 'qn': 10},
 '1015': {'name': 'cocochips', 'pr': 5, 'qn': 200},
 '1016': {'name': 'lolly', 'pr': 5, 'qn': 5},
 '1017': {'name': 'polo', 'pr': 10, 'qn': 100},
 '1018': {'name': 'kinderjoy', 'pr': 50, 'qn': 500},
 '1019': {'name': 'seven up', 'pr': 50, 'qn': 200}}

In [24]:
### purchase

In [9]:
ui_prod = input("enter the prod_id: ")
ui_quant= int(input("enter the quantity"))


print("products: ", record[ui_prod]['name'])
print("price:", record[ui_prod]['pr'])
print("Billing amount: ", record[ui_prod]['pr']*ui_quant)

record[ui_prod]['qn'] = record[ui_prod]['qn']-ui_quant

enter the prod_id: 1019
enter the quantity2
products:  seven up
price: 50
Billing amount:  100

In [30]:
record

{'1001': {'name': 'Choco Cake', 'qn': 30, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1005': {'name': 'chocochips', 'pr': 20, 'qn': 5},
 '1003': {'name': 'milkybar', 'pr': 20, 'qn': 9},
 '1004': {'name': 'mango choco', 'pr': 15, 'qn': 20},
 '1006': {'name': 'dairymilk', 'pr': 20, 'qn': 25},
 '1007': {'name': 'eclairs', 'pr': 2, 'qn': 200},
 '1008': {'name': 'kitkat', 'pr': 20, 'qn': 100},
 '1009': {'name': 'mango bite', 'pr': 2, 'qn': 200},
 '1010': {'name': 'cofee bite', 'pr': 2, 'qn': 200},
 '1011': {'name': 'sipon', 'pr': 20, 'qn': 100},
 '1012': {'name': 'coc0 bar', 'pr': 2, 'qn': 200},
 '1013': {'name': 'burger', 'pr': 100, 'qn': 10},
 '1014': {'name': 'sandwitch', 'pr': 50, 'qn': 10},
 '1015': {'name': 'cocochips', 'pr': 5, 'qn': 200}}

In [10]:
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()